<!-- Pricing row -->
<div class="row multi-columns-row mt-50">

    <% stacks.forEach(function(stack){ %>

    <!-- Pricing Item -->
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="pricing-item">
            <div class="pricing-item-inner">
                <div class="pricing-wrap">

                    <!-- Icon (Simple-line-icons) -->
                    <div class="pricing-icon">
                        <i class='<%= stack.icon %>'></i>
                    </div>

                    <!-- Pricing Title -->
                    <div class="pricing-title">
                        <%= stack.tittle %>
                    </div>

                    <!-- Pricing Features -->
                    <div class="pricing-features font-alt">
                        <ul class="sf-list pr-list">
                            <% stack.list.forEach(function(feature){ %>
                            <li><%= feature %></li>
                            <% }); %>
                        </ul>
                    </div>

                    <div class="pricing-num">
                        <sup>$</sup><%= stack.value %>
                    </div>

                    <div class="pr-per">
                        <%= stack.frequency %>
                    </div>

                    <!-- Button -->
                    <div class="pr-button">
                        <a href="" class="btn btn-mod btn-w border-colored btn-medium btn-round">Buy Now</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Pricing Item -->

    <% }); %>

    <!-- Pricing Item -->
    <!-- <div class="col-sm-4 col-md-4 col-lg-4"> -->
    <!-- <div class="pricing-item main"> -->
    <!-- <div class="pricing-item-inner"> -->
    <!-- <div class="pricing-wrap"> -->

    <!-- Icon (Simple-line-icons) -->
    <!-- <div class="pricing-icon">
                        <i class="fa fa-gift"></i>
                    </div> -->

    <!-- Pricing Title -->
    <!-- <div class="pricing-title">
                        Standard
                    </div> -->

    <!-- Pricing Features -->
    <!-- <div class="pricing-features font-alt">
                        <ul class="sf-list pr-list">
                            <li>3 Gb Storage</li>
                            <li>5 Domain Names</li>
                            <li>7 FTP Users</li>
                            <li>Free Support</li>
                        </ul>
                    </div>



                    <div class="pricing-num">
                        <sup>$</sup>239
                    </div>

                    <div class="pr-per">
                        per month
                    </div> -->


    <!-- Button -->
    <!-- <div class="pr-button">
                        <a href="" class="btn btn-mod">Buy Now</a>
                    </div> -->

    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- End Pricing Item -->

    <!-- Pricing Item -->
    <!-- <div class="col-sm-4 col-md-4 col-lg-4"> -->
    <!-- <div class="pricing-item"> -->
    <!-- <div class="pricing-item-inner"> -->
    <!-- <div class="pricing-wrap"> -->

    <!-- Icon (Simple-line-icons) -->
    <!-- <div class="pricing-icon">
                        <i class="fa fa-desktop"></i>
                    </div> -->

    <!-- Pricing Title -->
    <!-- <div class="pricing-title">
                        Optima
                    </div> -->

    <!-- Pricing Features -->
    <!-- <div class="pricing-features font-alt">
                        <ul class="sf-list pr-list">
                            <li>5 Gb Storage</li>
                            <li>9 Domain Names</li>
                            <li>15 FTP Users</li>
                            <li>Free Support</li>
                        </ul>
                    </div>



                    <div class="pricing-num">
                        <sup>$</sup>399
                    </div>

                    <div class="pr-per">
                        per month
                    </div> -->


    <!-- Button -->
    <!-- <div class="pr-button">
                        <a href="" class="btn btn-mod">Buy Now</a>
                    </div> -->

    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- End Pricing Item -->

</div>
<!-- End Pricing row -->