<div class="row">

    <% team.forEach(function(user, index){ %>

    <!-- Team item -->
    <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay='0.<%= index %>s'>
        <div class="team-item">

            <div class="team-item-image">

                <img src="<%= user.picture %>" alt="" />

                <div class="team-item-detail">

                    <h4 class="font-alt normal"><%= user.greeting %></h4>

                    <p>
                        <%= user.postGreeting %>
                    </p>

                    <div class="team-social-links">
                        <% user.socials.forEach(function(social){ %>
                        <a href='<%= social.account %>' target="_blank"><i class='<%= social.icon %>'></i></a>
                        <%})%>
                    </div>

                </div>
            </div>

            <div class="team-item-descr font-alt">

                <div class="team-item-name">
                    <%= user.name %>
                </div>

                <div class="team-item-role">
                    <%= user.role %>
                </div>

            </div>

        </div>
    </div>
    <!-- End Team item -->
    <% if (((index+1) % 3) == 0 && index > 1) { %>
        <div class="row mb-20"></div>
    <% } %>
    <% }); %>

</div>