<!DOCTYPE html>
<html>

<head>
    <title>Rhythm &mdash; One & Multi Page Creative Theme</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <meta name="author" content="Roman Kirichik">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- Favicons -->
    <link rel="shortcut icon" href="/images/favicon.png">
    <!-- <link rel="apple-touch-icon" href="/images/apple-touch-icon.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png"> -->

    <!-- CSS -->
    <link rel="stylesheet" href="/templates/css/bootstrap.min.css">
    <link rel="stylesheet" href="/templates/css/style.css">
    <link rel="stylesheet" href="/templates/css/style-responsive.css">
    <link rel="stylesheet" href="/templates/css/animate.min.css">
    <link rel="stylesheet" href="/templates/css/vertical-rhythm.min.css">
    <link rel="stylesheet" href="/templates/css/owl.carousel.css">
    <link rel="stylesheet" href="/templates/css/magnific-popup.css">


</head>

<body class="appear-animate">

    <!-- Page Loader -->
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- End Page Loader -->

    <!-- Page Wrap -->
    <div class="page" id="top">


        <!-- Fullwidth Slider -->
        <%- partial('../layouts/sliderblock.ejs') %>
        <!-- End Fullwidth Slider -->


        <!-- Navigation panel -->
        <%- partial('../layouts/navpanel.ejs') %>
        <!-- End Navigation panel -->


        <!-- About Section -->
        <%- partial('../layouts/about.ejs') %>
        <!-- End About Section -->

        <!-- Divider -->
        <hr class="mt-0 mb-0 " />
        <!-- End Divider -->

        <!-- Services Section -->
        <%- partial('../layouts/services.ejs') %>
        <!-- End Services Section -->

        <!-- Divider -->
        <hr class="mt-0 mb-0 " />
        <!-- End Divider -->

        <!-- Services Section -->
        <%- partial('../layouts/products.ejs') %>
        <!-- End Services Section -->


        <!-- Call Action Section -->
        <%- partial('../layouts/action_lets_talk.ejs') %>
        <!-- End Call Action Section -->


        <!-- Portfolio Section -->
        <%- partial('../layouts/porfolio.ejs') %>
        <!-- End Portfolio Section -->

        <!-- Call Action Section -->
        <%- partial('../layouts/action_start_project.ejs') %>
        <!-- End Call Action Section -->


        <!-- Features Section -->
        <%- partial('../layouts/features.ejs') %>
        <!-- End Features Section -->
        
        
        <!-- Testimonials Section -->
        <%- partial('../layouts/testimonials.ejs') %>
        <!-- End Testimonials Section -->
        
        <!-- Newsletter Section -->
        <%- partial('../layouts/partners.ejs') %>
        <!-- End Newsletter Section -->
        
        <!-- Contact Section -->
        <%- partial('../layouts/contact.ejs') %>
        <!-- End Contact Section -->
        
        
        <!-- Google Map -->
        <%- partial('../layouts/maps.ejs') %>
        <!-- End Google Map -->


        <!-- Foter -->
        <%- partial('../layouts/footer.ejs') %>
        <!-- End Foter -->


    </div>
    <!-- End Page Wrap -->


    <!-- JS -->
    <script type="text/javascript" src="templates/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="templates/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="templates/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="templates/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="templates/js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="templates/js/jquery.localScroll.min.js"></script>
    <script type="text/javascript" src="templates/js/jquery.viewport.mini.js"></script>
    <script type="text/javascript" src="templates/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="templates/js/jquery.appear.js"></script>
    <script type="text/javascript" src="templates/js/jquery.sticky.js"></script>
    <script type="text/javascript" src="templates/js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="templates/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="templates/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="templates/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="templates/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="templates/js/jquery.magnific-popup.min.js"></script>
    <!-- Replace test API Key "AIzaSyAZsDkJFLS0b59q7cmW0EprwfcfUA8d9dg" with your own one below 
        **** You can get API Key here - https://developers.google.com/maps/documentation/javascript/get-api-key -->
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZsDkJFLS0b59q7cmW0EprwfcfUA8d9dg"></script>
    <script type="text/javascript" src="templates/js/gmap3.min.js"></script>
    <script type="text/javascript" src="templates/js/wow.min.js"></script>
    <script type="text/javascript" src="templates/js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="templates/js/jquery.simple-text-rotator.min.js"></script>
    <script type="text/javascript" src="templates/js/all.js"></script>
    <script type="text/javascript" src="templates/js/contact-form.js"></script>
    <script type="text/javascript" src="templates/js/jquery.ajaxchimp.min.js"></script>
    <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->

</body>

</html>